<div id="tatoolStimulus" ng-class="stimulus.stimulusClass" ng-show="show">

  <div ng-if="stimulus.data.stimulusValueType!==undefined" ng-click="stimulusClickEvent($event, stimulus)">

        <div ng-switch on="stimulus.data.stimulusValueType">
          <div ng-switch-when="image">
            <img class="imageStimulusValue" draggable="false" ng-src="{{stimulus.stimulusImage}}" ng-class="stimulus.stimulusClass" style="{{col.data.stimulusValueStyle}}">
          </div>
          <div ng-switch-when="audio">
            
          </div>
          <div ng-switch-when="audio-image">
            <img class="imageStimulusValue" draggable="false" ng-src="{{stimulus.stimulusImage}}" ng-class="stimulus.stimulusClass" style="{{col.data.stimulusValueStyle}}">
          </div>
          <div ng-switch-when="audio-text" ng-style="stimulus.stimulusStyle" ng-class="stimulus.stimulusClass" style="{{col.data.stimulusValueStyle}}">
            <div class="textStimulusValue"><span>{{stimulus.data.stimulusValue}}</span></div>
          </div>
          <div ng-switch-when="text" ng-style="stimulus.stimulusStyle" ng-class="stimulus.stimulusClass" style="{{col.data.stimulusValueStyle}}">
            <div class="textStimulusValue"><span>{{stimulus.data.stimulusValue}}</span></div>
          </div>
          <div ng-switch-when="video">
            <video id="videoStimulus" class="video-js vjs-default-skin vjs-big-play-centered"></video>
          </div>
          <div ng-switch-when="circle">
            <div class="circle" ng-style="stimulus.stimulusStyle"> </div>
          </div>
          <div ng-switch-when="square">
            <div class="square" ng-style="stimulus.stimulusStyle"> </div>
          </div>
          <div ng-switch-default>
            <div class="emptyStimulusValue">ERROR: unknown stimulusValueType</div>
          </div>
        </div>

      </div>

</div>