<div id="tatoolGrid" ng-style="tableStyle">

  <div class="row" ng-repeat="row in gridCells">

    <div ng-class="col.gridCellClass" ng-click="(col.data.stimulusValue !== undefined || hideemptycells === undefined || hideemptycells==='no') ? gridClickEvent($event, col) : void();" ng-style="col.gridCellOverrideStyle" ng-mouseenter="(gridmouseenter !== undefined) ? gridMouseEnterEvent($event, col) : void();" ng-mouseleave="(gridmouseleave !== undefined) ? gridMouseLeaveEvent($event, col) : void();" ng-repeat="col in row track by (col.gridPosition + ':' + $id(col))">

      <div ng-if="col.data.stimulusValueType!==undefined" style="position: relative">
        
        <div tatool-drag style="position: relative" allowDragCell="{{col.gridAllowDrag}}" id="{{col.gridPosition}}">

        <div ng-switch on="col.data.stimulusValueType">
          <div ng-switch-when="image">
            <img class="imageCellValue" draggable="false" ng-src="{{tatoolDataPath}}{{col.data.stimulusValue}}">
          </div>
          <div ng-switch-when="text">
            <div class="textCellValue"><span>{{col.data.stimulusValue}}</span></div>
          </div>
          <div ng-switch-when="circle">
            <div class="circleCellValue"><div ng-style="col.gridCellValueOverrideStyle"></div></div>
          </div>
          <div ng-switch-when="square">
            <div class="squareCellValue"><div ng-style="col.gridCellValueOverrideStyle"></div></div>
          </div>
          <div ng-switch-when="class">
            <div ng-class="col.data.stimulusValue"></div>
          </div>
          <div ng-switch-default>
            <div class="emptyCellValue">ERROR: unknown stimulusValueType</div>
          </div>
        </div>

        </div>

      </div>

      <div ng-if="col.data.stimulusValueType===undefined && col.gridCellClass !== 'hideCell'" tatool-drop="grid" allowDropCell="{{col.gridAllowDrop}}" gridDrop="gridDrop(dragCell, dropCell)" id="{{col.gridPosition}}">
        <div class="emptyCellValue"> </div>   
      </div>

    </div>

  </div>

</div>