/* Space out content a bit */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
strong {
  font-weight: bold;
}
i {
  font-style: italic;
}

/* Container */
#moduleContainer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
}

.hideCursor {
  cursor: none;
}

/* Status Panel */
#statusPanel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  top: 0; left: 0; bottom: 1; right: 0;
  height: 120px;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 460%;
  color: #272727;
  text-shadow: 0 1px 0 #fff;
  z-index: 100;
}
#blankPanel {
  display: none;
}

/* Executable */
#centeredExecutable {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
}

/* Executable */
#topExecutable {
  position: absolute;
  margin-top: 25px;
  left: 10%;
  right: 10%;
  width: 80%;
  text-align: center;
}

/* Executable */
#bottomExecutable { 
  position: fixed; 
  bottom:0;
  left:0;
  width:100%; 
  margin-bottom: 20px;
}


/* Status Panel: sub panels*/
.panel {
  vertical-align:top;
  width: 130px;
  height: 120px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0px;
  background: #e7e7e7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), to(rgba(0,0,0,.07)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.07));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.5));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.07));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.07));
  background-image: linear-gradient(0deg, rgba(255,255,255,.1), rgba(0,0,0,.07));
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:
    0 2px 3px 0 rgba(255,255,255,.2) inset,
    0 2px 2px 0 rgba(0,0,0,.1);
  -webkit-box-shadow:
    0 2px 3px 0 rgba(255,255,255,.2) inset,
    0 2px 2px 0 rgba(0,0,0,.1);
  box-shadow:
    0 2px 3px 0 rgba(255,255,255,.2) inset,
    0 2px 2px 0 rgba(0,0,0,.1);
}

.panelValue {
  position: relative;
  display: block;
  height: 75px;
  margin: 8px auto 0 auto;
  text-align: center;
}
  
.panelValueAnimate {
  -webkit-animation: wiggle ease-in .4s 2, grow ease-in .4s 2;
     -moz-animation: wiggle .4s 2, grow .4s 2;
      -ms-animation: wiggle .4s 2, grow .4s 2;
       -o-animation: wiggle .4s 2, grow .4s 2;
          animation: wiggle ease-out .4s 2, grow ease-out .4s 2;
}

/* Wiggle animation */
@keyframes wiggle {
    from {-webkit-transform: rotateZ(0deg);transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);}
    25% {-webkit-transform: rotateZ(-10deg);transform: rotateZ(-10deg);-moz-transform: rotateZ(-10deg);-o-transform: rotateZ(-10deg);}
    50% {-webkit-transform: rotateZ(0deg);transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);}
    75% {-webkit-transform: rotateZ(10deg);transform: rotateZ(10deg);-moz-transform: rotateZ(10deg);-o-transform: rotateZ(10deg);}
    to {-webkit-transform: rotateZ(0deg);transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);}
}
@-webkit-keyframes wiggle {
    from {-webkit-transform: rotateZ(0deg);}
    25% {-webkit-transform: rotateZ(-10deg);}
    50% {-webkit-transform: rotateZ(0deg);}
    75% {-webkit-transform: rotateZ(10deg);}
    to {-webkit-transform: rotateZ(0deg);}
}
@-moz-keyframes wiggle {
    from {-moz-transform: rotateZ(0deg);}
    25% {-moz-transform: rotateZ(-10deg);}
    50% {-moz-transform: rotateZ(0deg);}
    75% {-moz-transform: rotateZ(10deg);}
    to {-moz-transform: rotateZ(0deg);}
}
@-o-keyframes wiggle {
    from {-o-transform: rotateZ(0deg);}
    25% {-o-transform: rotateZ(-10deg);}
    50% {-o-transform: rotateZ(0deg);}
    75% {-o-transform: rotateZ(10deg);}
    to {-o-transform: rotateZ(0deg);}
}

/* Grow animation */
@keyframes grow {
    from {font-size: normal;}
    50% {font-size: 125%;}
    to {font-size: normal;}
}
@-webkit-keyframes grow {
    from {font-size: normal;}
    50% {font-size: larger;}
    to {font-size: normal;}
}
@-moz-keyframes grow {
    from {font-size: normal;}
    50% {font-size: larger;}
    to {font-size: normal;}
}
@-o-keyframes grow {
    from {font-size: normal;}
    50% {font-size: larger;}
    to {font-size: normal;}
}
 
.panelTitle {
  float: auto;
  display: block;
  margin: -5px auto 0 auto;
  font-size: 36px;
  color: #a6a6a6;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  text-align: center;
}

.levelTitle { 
  margin-left: 5px; 
}
/*
circle {
  transition: stroke-dashoffset 0.1s linear;
}*/

.centerCircle {
    position:absolute;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#c6c6c6));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #c6c6c6);
    background-image: -moz-linear-gradient(top, #f7f7f7, #c6c6c6);
    background-image: -ms-linear-gradient(top, #f7f7f7, #c6c6c6);
    background-image: -o-linear-gradient(top, #f7f7f7, #c6c6c6);
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    height: 50px;
    border-radius:100px;
    width: 50px;
    border:1px solid #7d7d7d;
    z-index: 100;
    box-shadow: 0px 1px 1px #565656;
}

.superCircle {
    position: absolute;
    left: 12%;
    top: 0;
    height: 98px;
    border-radius:98px;
    width: 98px;
    z-index: 80;
    border:1px solid #646464;
    box-shadow: inset 0px 1px 1px #4f4f4f;
}

.percentage {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  top: 40px;
  left: 0;
  z-index: 10;
}



/* Text Effects */

.fixationCross {
    font-size: 800%;
    color:black;
    text-shadow: 0px 1px 2px #a5a5a5;
}





/* ---------- */
/* Directives */
/* ---------- */


/* Tatool Input */

#tatoolInput {
  font-size: 100%;
  width: 100%;
}

#tatoolInput .tatoolKey {
  display: inline-block;
  color: #757474;
  font-size:150%;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  min-width: 74px;
  height: 71px;
  line-height: 71px;
  background: #eff0f2;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  -webkit-box-shadow: 
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  -moz-box-shadow: 
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  box-shadow: 
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  text-shadow: 0px 1px 0px #f5f5f5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#tatoolInput .tatoolKey:active {
  color: #888;
  background: #ebeced;
  margin: 7px 5px 3px;
  -webkit-box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
  -moz-box-shadow: 
    inset 0 0 25px #ddd,
    0 0 3px #333;
  box-shadow: 
    inset 0 0 25px #ddd,
    0 0 3px #333;
  border-top: 1px solid #eee;
}

#tatoolInput .img {
  height: 100%;
  padding: 5px;
}

#tatoolInput .textInput {
  text-align: center;
  margin-top: 50px;
  display: inline-block;
  width: 300px;
  font-family: sans-serif;
  font-size: 45px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  transition: box-shadow 0.3s, border 0.3s;
  padding: 10px;
  outline: none;
  text-align: center;
}


/* Tatool Stimulus */

#tatoolStimulus {
  font-size: 100%;
}

#tatoolStimulus .circle {
  border-radius: 50%;
  width: 140px;
  height: 140px; 
  background-color: #000;
  margin: 0 auto;
}

#tatoolStimulus .square {
  width: 140px;
  height: 140px; 
  background-color: #000;
  margin: 0 auto;
}


/* Tatool Grid */

#tatoolGrid {
  display: table;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tatoolGrid .row {
  display: table-row;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tatoolGrid .cell, #tatoolGrid .cellStatic {
  display: table-cell;
  background-color: transparent;
  border: 2px solid #666;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  outline: 0px solid #666;
  font-size: 300%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tatoolGrid .cell:hover {
  outline: 6px solid #666;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#tatoolGrid .hideCell {
  display: table-cell;
  border: 1px dotted transparent;
}

#tatoolGrid .dropHover {
  border: 2px dashed #aaa;
}

#tatoolGrid .emptyCellValue {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tatoolGrid .textCellValue {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#tatoolGrid .textCellValue span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
}

#tatoolGrid .imageCellValue {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tatoolGrid .circleCellValue div {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  height: 80%;
  width: 80%;
  padding-bottom: 80%;
  background-color: #666;
}

#tatoolGrid .squareCellValue div {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  height: 80%;
  width: 80%;
  padding-bottom: 80%;
  background-color: #666;
}
