html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
  background-color: #fdfdfd;
}



/** ---------
    NAV
-----------**/
.navbar-static-top {
  background-color: #f6f6f6;
  border-color: #972600;
  border-bottom: 1px solid #d0d0d0;
  padding-top: 5px;
  padding-bottom: 10px;
}
.navbar-static-top .navbar-brand {
  padding-top: 9px;
  color: #f3f8f8;
  margin: 0px;
}
.navbar-static-top .navbar-brand:hover, .navbar-static-top .navbar-brand:focus {
  color: #ffffff;
}
.navbar-static-top .navbar-text {
  color: #f3f8f8;
}
.navbar-static-top .navbar-nav > li > a {
  color: #cc3727;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 8px;
}
.navbar-static-top .navbar-nav > li > a:hover, .navbar-static-top .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #d5502a;
}
.navbar-static-top .navbar-nav > .active > a, .navbar-static-top .navbar-nav > .active > a:hover, .navbar-static-top .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #d5502a;
}
.navbar-static-top .navbar-nav > .open > a, .navbar-static-top .navbar-nav > .open > a:hover, .navbar-static-top .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #d5502a;
}
.navbar-static-top .navbar-toggle {
  border-color: #d5502a;
}
.navbar-static-top .navbar-toggle:hover, .navbar-static-top .navbar-toggle:focus {
  background-color: #d5502a;
}
.navbar-static-top .navbar-toggle .icon-bar {
  background-color: #f3f8f8;
}
.navbar-static-top .navbar-collapse,
.navbar-static-top .navbar-form {
  border-color: #f3f8f8;
  padding-left: 40px;
}
.navbar-static-top .navbar-link {
  color: #f3f8f8;
}
.navbar-static-top .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-static-top .navbar-nav .open .dropdown-menu > li > a {
    color: #f3f8f8;
  }
  .navbar-static-top .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-static-top .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-static-top .navbar-nav .open .dropdown-menu > .active > a, .navbar-static-top .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-static-top .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #972600;
  }
}



/** ---------
    FOOTER
-----------**/
.wrapper {
  min-height: 100%;
  margin: 0 auto -40px;
}
.push {
  height: 40px;
}
footer {
  height: 40px;
  color: #777;
  background-color: #f6f6f6;
  border-top: 1px solid #d0d0d0;
  padding-top: 8px;
  font-size: 70%;
}



/** ---------
    MODULES
-----------**/

.panel {
  border: 1px solid #b9b1ad;
}
.panel-group .panel-heading {
  color: #000;
  background-color: #E5DCD8;
}
.panel-title {
  font-size: 125%;
}
.form-control {
  margin-top: -5px;
}
.form-control-feedback {
  margin-top: -5px;  
}
.accordion-toggle {
  cursor: pointer;
}
.accordion-toggle:hover {
  text-decoration: none;
}
.glyphicon-chevron-down {
  color: #d5502a;
}

.fileUpload {
  position: relative;
	display: inline-block;
	overflow: hidden;
	margin-left: 10px;
  margin-top: -4px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#modules {
	width: 100%;
	margin: 0 auto;
  clear: left;
	display: table;
}

#modules .tile {
	display: table-cell;
	position: relative;
	float: left;
	width: 17em;
	margin-bottom: 1.2em;
	margin-right: 0.5em;
	border: 1px solid #ababab;
	background-color: #fff;
}

#modules .tileHighlight {
	display: table-cell;
	position: relative;
	float: left;
	width: 17em;
	margin-bottom: 1.2em;
	margin-right: 0.5em;
	border: 1px solid #ababab;
	background-color: #fff
	-webkit-animation: highlight 1s 1;
     -moz-animation: highlight 1s 1;
      -ms-animation: highlight 1s 1;
       -o-animation: highlight 1s 1;
          animation: highlight 1s 1;
}

/* Highlight animation */
@keyframes highlight {
    from {border: 1px solid #ababab;background-color: #fff;}
    50% {border: 1px solid #db5628;background-color: #ffe8e2;}
    to {border: 1px solid #ababab;background-color: #fff;}
}
@-webkit-keyframes highlight {
    from {border: 1px solid #ababab;background-color: #fff;}
    50% {border: 1px solid #db5628;background-color: #ffe8e2;}
    to {border: 1px solid #ababab;background-color: #fff;}
}
@-moz-keyframes highlight {
    from {border: 1px solid #ababab;background-color: #fff;}
    50% {border: 1px solid #db5628;background-color: #ffe8e2;}
    to {border: 1px solid #ababab;background-color: #fff;}
}
@-o-keyframes highlight {
    from {border: 1px solid #ababab;background-color: #fff;}
    50% {border: 1px solid #db5628;background-color: #ffe8e2;}
    to {border: 1px solid #ababab;background-color: #fff;}
}

#modules .icon {
	position: relative;
	width: 6em;
	height: 6em;
	float: left;
	margin-right: 0.7em;
  overflow: hidden;
	background: #c64a26; /* Old browsers */
	background: -moz-linear-gradient(left,  #c64a26 0%, #d5582c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c64a26), color-stop(100%,#d5582c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #c64a26 0%,#d5582c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #c64a26 0%,#d5582c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #c64a26 0%,#d5582c 100%); /* IE10+ */
	background: linear-gradient(to right,  #c64a26 0%,#d5582c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c64a26', endColorstr='#d5582c',GradientType=1 ); /* IE6-9 */
  	border-right: 1px solid #db5b2e;
  	border-left: 1px solid #db5b2e;
  	border-top: 1px solid #db5628;
  	border-bottom: 1px solid #db5628;
  	-webkit-box-shadow: 1px 0 1px #b84a23;
  	-moz-box-shadow: 1px 0 1px #b84a23;
  	-ms-box-shadow: 1px 0 1px #b84a23;
  	-o-box-shadow: 1px 0 1px #b84a23;
  	box-shadow: 1px 0 1px #b84a23;
}

#modules .content {
	float: left;
	color: #494949;
	line-height: 1.35em;
	height: 6em;
	width: 10em;
	text-align: left;
}

#modules h2 {
	max-width: 13em;
	font-size: 95%;
	overflow: hidden;
	font-weight: bold;
}

#modules h3 {
	max-width: 13em;
	font-size: 80%;
	overflow: hidden;
	white-space: nowrap;
  	text-overflow: ellipsis;
}

#modules .buttonbar {
	margin-top: 5px;
}

.btn-tatool {
  	color: #fff;
  	background-color: #d5502a;
  	border-color: #972702;
  	padding: 3px 7px;
}

.btn-tatool:hover {
	color: #fff;
  	background-color: #a23f22;
}

.btn-tatool-off {
  	color: #333;
  	background-color: #fff;
  	border-color: #ccc;
  	padding: 3px 7px;
}

.btn-tatool-off:hover {
  	background-color: #e6e6e6;
}

.exporterName::first-letter {
  text-transform: capitalize;
}


/** ---------
    PACKAGE
-----------**/
#iframe {
  position:absolute; 
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

/** ---------
    SPINNER
-----------**/
#spinner {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 180px;
  width: 300px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  z-index: 10000;
  background-color: #fff;
  border-radius: 3%;
  border: 1px solid #777;
}
#spinnerText {
  visibility: hidden;
  font-size: 125%;
  position: relative;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
#spinnerAnimation {
  visibility: hidden;
  position: relative;
  height: 125px; 
  vertical-align: middle;
}
#spinnerBackdrop {
  visibility: hidden;
  position: absolute;
  background-color: #3c3c3c;
  opacity: 0.4;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 5000;
}