.towerOfFame_stimulusText {
  font-size: 200%;
  font: Helvetica, Arial, Sans-Serif; 
  line-height: 150%;
}

/* Executable */
#towerOfFame_radioInput {
  text-align: left;
  width:500px; 
  margin:0px auto; 
}

.towerOfFame_inputTitle {
  margin-bottom: 5px;
  font-weight: bold;
}

.towerOfFame_inputButton {
  text-align: center;
  width:500px; 
  margin:0px auto; 
}