<tatool>
  <tatool-stimulus id="centeredExecutable" service="stimulusService" class="towerOfFame_stimulusText"></tatool-stimulus>
  
  <div id="bottomExecutable">

    <div id="towerOfFame_radioInput" ng-show="radioInputShow">

    <div>
      <div class="towerOfFame_inputTitle">{{floorLabel}}</div>
      <div class="btn-group">
        <label class="btn btn-default btn-lg" ng-model="radioFloor" uib-btn-radio="'1'">1</label>
        <label class="btn btn-default btn-lg" ng-model="radioFloor" uib-btn-radio="'2'">2</label>
        <label class="btn btn-default btn-lg" ng-model="radioFloor" uib-btn-radio="'3'">3</label>
        <label class="btn btn-default btn-lg" ng-model="radioFloor" uib-btn-radio="'4'">4</label>
        <label class="btn btn-default btn-lg" ng-model="radioFloor" uib-btn-radio="'5'">5</label>
        <label class="btn btn-default btn-lg" ng-model="radioFloor" uib-btn-radio="'6'">6</label>
        <label class="btn btn-default btn-lg" ng-model="radioFloor" uib-btn-radio="'0'">{{choiceUnknownLabel}}</label>
      </div>
    </div>

    <br>

    <div>
      <div class="towerOfFame_inputTitle">{{apartmentLabel}}</div>
      <div class="btn-group">
        <label class="btn btn-default btn-lg" ng-model="radioFlat" uib-btn-radio="'A'">A</label>
        <label class="btn btn-default btn-lg" ng-model="radioFlat" uib-btn-radio="'B'">B</label>
        <label class="btn btn-default btn-lg" ng-model="radioFlat" uib-btn-radio="'C'">C</label>
        <label class="btn btn-default btn-lg" ng-model="radioFlat" uib-btn-radio="'D'">D</label>
        <label class="btn btn-default btn-lg" ng-model="radioFlat" uib-btn-radio="'X'">{{choiceUnknownLabel}}</label>
      </div>
    </div>

    <br>

    <div>
      <button type="button" class="btn btn-primary btn-lg" ng-click="inputAction(radioFloor, radioFlat)" ng-disabled="radioNextEnabled">{{buttonLabel}}</button>
    </div>

    <br>

    </div>
  </div>
</tatool>