.tatoolObjectLocation_fillCell, .tatoolObjectLocation_fillCellStatic {
  font-size: 300%;
  background-color: #ededed;
  border: 2px solid #999;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 5px;
  outline: 0px solid #7c7c7c;
}

.tatoolObjectLocation_fillCorrectStatic {
  font-size: 300%;
  background-color: #cbeece;
  border: 2px solid #1a7522;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 5px;
  outline: 0px solid #7c7c7c;
}
.tatoolObjectLocation_fillWrongStatic {
  font-size: 300%;
  background-color: #eecbcb;
  border: 2px solid #cc3300;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 5px;
  outline: 0px solid #7c7c7c;
}

.tatoolObjectLocation_fillCell:hover {
  border: 2px solid #7c7c7c;
  outline: 4px solid #7c7c7c;
  cursor: pointer;
  -webkit-transition:outline 0.1s;
  transition:outline 0.1s;
}

.tatoolObjectLocation_emptyCell, .tatoolObjectLocation_emptyCellStatic {
  font-size: 300%;
  background-color: transparent;
  border: 2px solid #999;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 5px;
  outline: 0px solid #999;
}