/* Pagination */

.nav {
  display: inline-block;
  list-style: none;
  text-align: center;
}

.nav li {
  float: left;
  margin-right: -4px; /* See: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
}

.nav li:before {
  content: "";
  display: block;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.tatoolInstruction_page {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 18px;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  cursor: pointer;
}

.tatoolInstruction_page:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.tatoolInstruction_page:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

.tatoolInstruction_pageActive {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #cc3300;
  margin: 18px;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #cc3300, inset 0px 2px 3px #fff;
}

.tatoolInstruction_pageActive:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #b92e00;
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #cc3300;
}

.tatoolInstruction_pageActive:hover {
  text-decoration: none;
  color: #cc3300;
  background: #f5f5f5;
}

.tatoolInstruction_paginationArrowLeft {
  margin: auto;
  position: relative;
  font-size: 1.6em;
  text-align: center;
  margin-left: -9px;
  margin-top: -1px;
}

.tatoolInstruction_paginationArrowRight {
  margin: auto;
  position: relative;
  font-size: 1.6em;
  text-align: center;
  margin-left: -6px;
  margin-top: -1px;
}

.tatoolInstruction_paginationDigit {
  margin-left: -15px;
  position: relative;
  width:50px;
  font-size: 1.6em;
  text-align: center;
}




/* Instruction Text Formatting */
#tatoolFormat {
font-size:1.5em; 
text-align: left;
}

#tatoolFormat h1 {
font-size:150%; 
font-weight:bold; 
color:#cc3300;
text-align:center;
margin-top:20px;
margin-bottom:25px;
}

#tatoolFormat h2 {
font-size:120%; 
font-weight:bold; 
color:#cc3300;
text-align:center;
margin-top:20px;
margin-bottom:25px;
}

#tatoolFormat p {
line-height: 120%;
text-align:left;
margin-top:20px;
}

#tatoolFormat p.center {
text-align:center;
}

#tatoolFormat ul {
  list-style-type: disc;
}

#tatoolFormat ol {
  list-style-type: decimal;
}
#tatoolFormat ul, ol {
  list-style-position: inside;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

#tatoolFormat ul, ol, li {
  padding-left: 15px;
  line-height: 140%;
  margin-bottom: 8px;
}

#tatoolFormat .highlight_black {
color:#000000;
font-weight:bold; 
}

#tatoolFormat .highlight_red {
color:#cc3300;
font-weight:bold; 
}

#tatoolFormat .highlight_big_red {
color:#cc3300;
font-weight:bold; 
font-size:110%; 
}