<tatool id="topExecutable">

	<!-- Include instruction -->
    <img ng-src="{{currentImage}}"></img>
	<div ng-include="currentPage"></div>

	<!-- Pagination -->
	<div ng-show="showPagination">
		<ul class="nav">
			<li>
				<a class="tatoolInstruction_page" ng-click="go(-1)">
					<div class='tatoolInstruction_paginationArrowLeft'><i class='icon-left-open'></i></div>
				</a>
			</li>
    		<li ng-repeat="url in urls track by $index" ng-show="showDigitPagination">
        		<a class="tatoolInstruction_page" ng-class="{tatoolInstruction_pageActive: $index==currentIndex}" ng-click="jump($index)">
        			<div class='tatoolInstruction_paginationDigit'>{{$index+1}}</div>
        		</a>
    		</li>
    		<li>
    			<a class="tatoolInstruction_page" ng-click="go(1)">
    				<div class='tatoolInstruction_paginationArrowRight'><i class='icon-right-open'></i></div>
    			</a>
    		</li>
		</ul>
	</div>

  <!-- Keyboard input -->
  <tatool-input service="inputService" userInput="inputAction(input, timing, event)">
    <tatool-key code="ArrowLeft" response="back" hide></tatool-key>
    <tatool-key code="ArrowRight" response="next" hide></tatool-key>
  </tatool-input>

</tatool>