.tatoolMonitoring_emptyCell, .tatoolMonitoring_emptyCellStatic {
  font-size: 300%;
  background-color: transparent;
  border: 1px solid #000;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
.tatoolMonitoring_bgBlackCell, .tatoolMonitoring_bgBlackCellStatic {
  font-size: 300%;
  background-color: #000;
  border: 1px solid #000;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
.tatoolMonitoring_bgWhiteCell, .tatoolMonitoring_bgWhiteCellStatic  {
  font-size: 300%;
  background-color: #fff;
  border: 1px solid #000;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}