@font-face {
  font-family: 'tatool-icons';
  src: url('tatool-icons.eot?44719154');
  src: url('tatool-icons.eot?44719154#iefix') format('embedded-opentype'),
       url('tatool-icons.woff?44719154') format('woff'),
       url('tatool-icons.ttf?44719154') format('truetype'),
       url('tatool-icons.svg?44719154#tatoolicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tatool-icons';
    src: url('../font/tatool-icons.svg?44719154#tatool-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tatool-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-angle-circled-left:before { content: '\e804'; } /* '' */
.icon-angle-circled-right:before { content: '\e805'; } /* '' */
.icon-angle-circled-up:before { content: '\e806'; } /* '' */
.icon-angle-circled-down:before { content: '\e807'; } /* '' */
.icon-left-circled:before { content: '\e808'; } /* '' */
.icon-right-circled:before { content: '\e809'; } /* '' */
.icon-up-circled:before { content: '\e80a'; } /* '' */
.icon-down-circled:before { content: '\e80b'; } /* '' */
.icon-down:before { content: '\e80c'; } /* '' */
.icon-left:before { content: '\e80d'; } /* '' */
.icon-right:before { content: '\e80e'; } /* '' */
.icon-up:before { content: '\e80f'; } /* '' */
.icon-right-dir:before { content: '\e810'; } /* '' */
.icon-left-dir:before { content: '\e811'; } /* '' */
.icon-up-dir:before { content: '\e812'; } /* '' */
.icon-down-dir:before { content: '\e813'; } /* '' */
.icon-ok:before { content: '\e814'; } /* '' */
.icon-ok-circled:before { content: '\e815'; } /* '' */
.icon-ok-circled2:before { content: '\e816'; } /* '' */
.icon-ok-squared:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e818'; } /* '' */
.icon-cancel-circled:before { content: '\e819'; } /* '' */
.icon-cancel-circled2:before { content: '\e81a'; } /* '' */