.stroopStyleGreen {
    font-size: 550%;
    color:green;
    text-shadow: 0px 1px 2px #a2c9b2;
}
 
.stroopStyleBlue {
    font-size: 550%;
    color:blue;
    text-shadow: 0px 1px 2px #a2abc9;
}

.stimulusText {
	font-size: 550%;
	font: Helvetica, Arial, Sans-Serif; 
	letter-spacing: -5px;  
	text-shadow: 0px 1px 2px #a5a5a5;
}

.clickMessage {
  font-size: 600%;
  color: #e10404;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  text-shadow: #777 2px 2px 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  z-index: 100;
}

.myCell, .myCellStatic {
  font-size: 300%;
  background-color: transparent;
  border: 1px solid #ccc;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 10px;
  outline: 0px solid #666;
}

.myCell:hover {
  outline: 6px solid #666;
  cursor: pointer;
  -webkit-transition:outline 0.1s;
  transition:outline 0.1s;
}

.myColoredCell {
  background-color: #eee;
  border: 1px solid #666;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.myClass {
  display: inline-block;
  border-radius: 30%;
  height: 80%;
  width: 80%;
  padding-bottom: 80%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  border: 2px dotted #666;
  background-color: #fff;
}