.stroopStyleGreen {
    font-size: 550%;
    color:green;
    text-shadow: 0px 1px 2px #a2c9b2;
}
 
.stroopStyleBlue {
    font-size: 550%;
    color:blue;
    text-shadow: 0px 1px 2px #a2abc9;
}

.stimulusText {
	font-size: 550%;
	font: Helvetica, Arial, Sans-Serif; 
	letter-spacing: -5px;  
	text-shadow: 0px 1px 2px #a5a5a5;
}