<div class="wrapper">

<!-- HEADER --> 
<div ng-include src="'header.html'"></div>

  <div class="container">

        <div ng-class="{danger:'alert alert-danger alert-dismissible', success:'alert alert-success alert-dismissible', info:'alert alert-info alert-dismissible'}[alert.type]" role="alert" ng-show="alert.visible">
          <button type="button" class="close" ng-click="hideAlert()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div ng-bind-html="alert.msg"></div>
        </div>

        <uib-tabset>
          <uib-tab select="hideAlert()">
            <uib-tab-heading>
              <b>Users</b>
            </uib-tab-heading>
            <br>

            <div class="actionHeader">
              <form class="form-inline pull-right" role="form">
                <div class="input-group">
                  <input type="text" class="form-control" id="searchUser" ng-model="query.user" ng-change="setUserFilter()" placeholder="Search User...">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default button-up" ng-click="removeUserFilter()"><i class="fa fa-times"></i></button>
                  </span>
                </div>
              </form>
              <div class="btn btn-tatool" ng-click="addUser()">Add User</div> 
            </div>
    
            <table class="table table-bordered table-striped table-hover table-condensed table-small">
              <thead>
                <tr>
                <th>
                <b>Total # of Users: {{users.length}}</b></th>
                <th colspan="4"><b>Roles</b></th>
                <th></th>
                </tr>
                <tr>
                <th><b>Username</b></th>
                <th width="100px"><i class="fa fa-cube fa-lg"></i><br>Modules</th>
                <th width="100px"><i class="fa fa-cogs fa-lg"></i><br>Editor</th>
                <th width="100px"><i class="fa fa-bar-chart fa-lg"></i><br>Analytics</th>
                <th width="100px"><i class="fa fa-lock fa-lg"></i><br>Admin</th>
                <th width="110px"><b>Actions</b></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users | filter:{ $: filterUser } | orderBy:'email' | startFrom:userPaging.currentPage*userPaging.pageSize | limitTo:userPaging.pageSize" ng-class="{'success': user.email === highlightUserEmail}" >
                <td> {{user.email}}</td>
                <td align="center" ng-repeat="role in roles"> <input type="checkbox" checklist-model="user.roles" checklist-value="role"> </td>
                <td align="center"> 
                  <div class="btn btn-tatool-off" ng-click="updateUser(user)" uib-tooltip="Save changes to user roles." uib-tooltip-placement="top" uib-tooltip-animation="false"><i class="fa fa-floppy-o"></i></div>
                  <a ng-click="changePassword(user)" class="btn btn-tatool-off" uib-tooltip="Change user password." uib-tooltip-placement="top" uib-tooltip-animation="false"><i class="fa fa-lock"></i></a>
                  <a ng-click="deleteUser(user)" class="btn btn-tatool-off" uib-tooltip="Delete user." uib-tooltip-placement="top" uib-tooltip-animation="false"><i class="fa fa-trash-o"></i></a>
                </td>
                </tr>
              </tbody>
            </table>
            <div class="pull-right" ng-show="users.length > 0">
              <button class="btn btn-default" ng-disabled="userPaging.currentPage == 0" ng-click="userPaging.currentPage=userPaging.currentPage-1">
                <i class="fa fa-chevron-left"></i>
              </button>
              {{(userPaging.numPerPage == 0) ? userPaging.currentPage : userPaging.currentPage+1}}/{{userPaging.numPerPage}}
              <button class="btn btn-default" ng-disabled="userPaging.currentPage >= userPaging.numPerPage - 1" ng-click="userPaging.currentPage=userPaging.currentPage+1">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>

          </uib-tab>
          <uib-tab select="hideAlert()">
            <uib-tab-heading>
              <b>Projects</b>
            </uib-tab-heading>
            <br>

            <div class="actionHeader">
              <form class="form-inline pull-right" role="form">
                <div class="input-group">
                  <input type="text" class="form-control" id="searchProject" ng-model="query.project" ng-change="setProjectFilter()" placeholder="Search Project...">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default button-up" ng-click="removeProjectFilter()"><i class="fa fa-times"></i></button>
                  </span>
                </div>
              </form>
              <div class="btn btn-tatool" ng-click="addProject()">Add Project</div>
            </div>
    
            <table class="table table-bordered table-striped table-hover table-condensed table-small">
              <thead>
                <tr>
                  <th><b>Name</b></th>
                  <th><b>Owner</b></th>
                  <th><b>Description</b></th>
                  <th width="110px"><b>Actions</b></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="project in projects | filter:{ $: filterProject } | orderBy:'name'">
                  <td> 
                    <span ng-if="project.access === 'public'"><i class="fa fa-globe fa-lg fa-fw" uib-tooltip="Public project" uib-tooltip-placement="top"></i> </span>
                    <span ng-if="project.access === 'private'"><i class="fa fa-lock fa-lg fa-fw" uib-tooltip="Private project" uib-tooltip-placement="top"></i> </span>
                    {{project.name}} 
                  </td>
                  <td> {{project.email}}</td>
                  <td> {{project.description}}</td>
                  <td align="center"> 
                    <div class="btn btn-tatool-off" ng-click="editProject(project)" uib-tooltip="Edit project." uib-tooltip-placement="top" uib-tooltip-animation="false"><i class="fa fa-pencil-square-o"></i></div>
                    <a ng-click="deleteProject(project)" class="btn btn-tatool-off" uib-tooltip="Delete project." uib-tooltip-placement="top" uib-tooltip-animation="false"><i class="fa fa-trash-o"></i></a>
                </td>
                </tr>
              </tbody>
            </table>

          </uib-tab>
        </uib-tabset>

        

  </div>
  <!-- Footer Helper -->
  <div class="push"></div>

</div>

<!-- FOOTER --> 
<div ng-include src="'footer.html'"></div>