<div class="wrapper">

<!-- HEADER --> 
<div ng-include src="'header.html'"></div>


<!-- DEVELOPMENT -->
  <div class="container">
    <div ng-class="{danger:'alert alert-danger alert-dismissible', success:'alert alert-success alert-dismissible', info:'alert alert-info alert-dismissible'}[alert.type]" role="alert" ng-show="alert.visible">
      <button type="button" class="close" ng-click="hideAlert()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <div ng-bind-html="alert.msg"></div>
    </div>

    <div class="actionHeader">
      <div class="pull-right">
        <div class="btn btn-tatool fileUpload" ng-click="newModule($event)">New</div> 
        <div class="fileUpload btn btn-tatool">
          Open
          <form id="openModuleForm">
            <input type="file" class="upload" custom-on-change="addModule"/>
          </form>
        </div> 
      </div>
    </div>

    <uib-accordion>
      <uib-accordion-group is-open="accordionStatus.develop">
        <uib-accordion-heading>
          EDITOR
          <i class="fa fa-chevron-right" ng-class="{'fa fa-chevron-down red': accordionStatus.develop, 'fa fa-chevron-right': !accordionStatus.develop}"></i>
          
        </uib-accordion-heading>
        <div id="modules">

          <div class="tile tileDev" ng-class="{'tileHighlight': module.moduleId == highlightModuleId}" ng-repeat="module in modules | orderBy:'moduleName'" ng-if="!!modules.length">
            <div class="icon">
              <i class="fa fa-cog fa-4x"></i> 
              <span ng-if="module.maxSessionId"><small>Sessions<br></small> <b class="sessionNum">{{module.maxSessionId}}</b></span><br><br>
              <div class="btn btn-tatool-off" ng-click="resetModuleData(module)" ng-if="module.maxSessionId"><i class="fa fa-refresh"></i> Reset</div>
            </div>
            <div class="content">
              <h2>{{module.moduleName}}</h2>
              <h3>{{module.moduleAuthor}}</h3>

              <div class="buttonbar">
                <div class="btn btn-tatool-off" ng-click="editModule(module)">Edit</div>
                <div class="btn btn-tatool-off" ng-click="startModule(module)">Test</div>
                <div id="dropdownExport" class="btn-group" uib-dropdown is-open="status.isopen" ng-if="exporterEnabled(module)">
                  <div id="dropdownExportButton" class="btn btn-tatool-off dropdown-toggle" uib-dropdown-toggle>Export <span class="caret"></span></div>
                  <ul class="dropdown-menu" role="menu">
                    <li class="exporterName" ng-click="doExport($event, module, exporter.mode, exporter.target)" ng-repeat="exporter in module.moduleDefinition.export | filter:filterExporterValues | orderBy:'mode'">
                      <a ui-sref="developer">{{exporter.mode}}</a>
                    </li>
                  </ul>
                </div>
                <a ng-click="deleteModule(module)" class="btn btn-tatool-off"><i class="fa fa-trash-o"></i></a>
              </div>

              <div class="repository">
                <table class="repositoryTable">
                  <tr>
                    <td>
                      <b>Repository</b>
                    </td>
                    <td align="right">
                      <div ng-switch on="module.moduleType">
                        <div ng-switch-when="public">
                          <span class="toggle-tatool-text">OFF</span> 
                          <i class="fa fa-toggle-on fa-lg toggle-tatool-on" ng-click="toggleRepository($event, module)"></i> 
                          <span class="toggle-tatool-text">ON</span>
                        </div>
                        <div ng-switch-when="private">
                          <span class="toggle-tatool-text">OFF</span> 
                          <i class="fa fa-toggle-on fa-lg toggle-tatool-on" ng-click="toggleRepository($event, module)"></i> 
                          <span class="toggle-tatool-text">ON</span>
                        </div>
                        <div ng-switch-default>
                          <span class="toggle-tatool-text">OFF</span> 
                          <i class="fa fa-toggle-off fa-lg toggle-tatool-off" ng-click="toggleRepository($event, module)"></i> 
                          <span class="toggle-tatool-text">ON</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>

                <div ng-if="module.moduleType" ng-cloak>

                  <div class="moduleType">
                    <label class="radio-inline">
                      <input type="radio" ng-model="module.moduleType" ng-change="changeModuleType(module)" value="public"> Public
                    </label>
                    <label class="radio-inline">
                      <input type="radio" ng-model="module.moduleType" ng-change="changeModuleType(module)" value="private"> Private
                    </label>
                  </div>
                  <div class="buttonbar">
                    <div class="btn btn-tatool-green" ng-click="module.moduleVersion === module.publishedModuleVersion || publishModule($event, module)" ng-disabled="module.moduleVersion === module.publishedModuleVersion" ng-class="{'btn-tatool-green-disabled': module.moduleVersion === module.publishedModuleVersion}"><i class="fa fa-cloud-upload"></i> Publish</div>
                    <div ng-if="module.moduleType==='private'" class="btn btn-tatool-off" ng-click="repositoryInvite(module.moduleId)"><i class="fa fa-users"></i> Invite</div>
                    <a href="" class='publicUrlLabel' ng-click="showPublicUrl(module.moduleId)">Show URL</a>
                  </div>
                 </div>

              </div>


            </div>
          </div>

          <div ng-if="modules.length === 0">
            No modules found.
          </div>
        </div>
      </uib-accordion-group>
    </uib-accordion>
  </div>


     <!-- Footer Helper -->
        <div class="push"></div>

    </div>

<!-- FOOTER --> 
  <div ng-include src="'footer.html'"></div>