<b>Element</b>

<br><br>

<div>
  <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Iterations *
      <a class="info" uib-tooltip="Sets the number of iterations. For example 1 iteration will execute all child elements once." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="numIterations" ng-model="element.iterator.numIterations" ng-required="true" auto-focus>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Label
      <a class="info" uib-tooltip="Assign a label to the element." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="label" ng-model="element.label" ng-required="true">
    </div>
  </div>
  <div class="form-group" ng-if='element.tatoolType === "List"'>
    <label for="name" class="col-sm-3 control-label">Order
      <a class="info" uib-tooltip="Define the order in which the direct child elements are executed." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <label class="radio-inline radio-inline-up">
        <input type="radio" ng-model="element.iterator.order" name="order" value="sequential"> Sequential 
        <a class="info" uib-tooltip="Child elements are executed in the order you add them in your Task List on the left." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
      </label>
      <label class="radio-inline radio-inline-up">
        <input type="radio" ng-model="element.iterator.order" name="order" value="random"> Random
        <a class="info" uib-tooltip="Every iteration the child elements are executed in a new random order." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Condition
      <a class="info" uib-tooltip="Set a condition for this Element." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="condition" ng-model="element.iterator.condition" ng-required="true">
    </div>
  </div>

  
  <!-- Display handlers -->
  <hr>
  <b>Handlers</b> <a class="info" uib-tooltip="Set handlers available to all child elements." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
  <br><br>

  <div class="form-group" ng-repeat="handler in element.handlers">

    <label for="{{handler.name}}" class="col-sm-4 control-label">{{handler.name}}</label>
    <div class="col-sm-8">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger button-up" ng-click="deleteHandler(element, handler, $index)"><i class="fa fa-times"></i></button>
        </span>
        <input type="text" class="form-control" id="{{handler.name}}" ng-model="handler.customType" readonly>
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary button-up" ng-click="editHandler(handler)"><i class="fa fa-pencil-square-o"></i></button>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-4 control-label"></label>
    <div class="col-sm-8">
      <button type="button" class="btn btn-default" ng-click="addHandler(element, elementIndex, elementParent)"><i class="fa fa-plus-square-o"></i> Add Handler</button>
    </div>
  </div>

  <hr>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">

      <div id="dropdownExport" class="btn-group" uib-dropdown>
        <div id="dropdownExportButton" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><i class="fa fa-plus-square-o"></i> Add Child</div>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="addNewList(element, elementIndex, elementParent)">
            <a ui-sref="developer"><i class="fa fa-list"></i> List</a>
          </li>
          <li ng-click="addNewDual(element, elementIndex, elementParent)">
            <a ui-sref="developer"><i class="fa fa-list-ol"></i> Dual</a>
          </li>
          <li ng-click="addNewExecutable(element, elementIndex, elementParent)">
            <a ui-sref="developer"><i class="fa fa-play-circle green"></i> Executable</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-default" ng-click="moveElementUp(element, elementIndex, elementParent)" ng-if="elementParent && (elementIndex > 0 || elementIndex === 'secondary')"><i class="fa fa-angle-double-up"></i> Up</button>
      <button type="button" class="btn btn-default" ng-click="moveElementDown(element, elementIndex, elementParent)" ng-if="(elementIndex < (elementParent.children.length - 1)) || (elementIndex === 'primary')"><i class="fa fa-angle-double-down"></i> Down</button>
      <button type="button" class="btn btn-default" ng-click="deleteElement(element, elementIndex, elementParent)" ng-if="elementParent"><i class="fa fa-trash-o"></i> Delete</button>
    </div>
  </div>
</form>

</div>