<b>Module Settings</b>

<br><br>


<div>
  <form class="form-horizontal" role="form" ng-submit="saveModule()">
  <div class="form-group">
    <label for="moduleName" class="col-sm-3 control-label">Name * 
      <a class="info" uib-tooltip="The name of your module will be visible for everyone once published." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="moduleName" ng-model="module.moduleName" ng-required="true" auto-focus>
    </div>
  </div>
  <div class="form-group">
    <label for="moduleAuthor" class="col-sm-3 control-label">Author *
      <a class="info" uib-tooltip="Author name will be visible for everyone once published." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="moduleAuthor" ng-model="module.moduleAuthor">
    </div>
  </div>
  <div class="form-group">
    <label for="moduleLabel" class="col-sm-3 control-label">Label *
      <a class="info" uib-tooltip="Internal shorthand name for your module, which will be used to name any export files." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="moduleLabel" ng-model="module.moduleLabel" ng-trim="false" ng-pattern="/^[a-zA-Z0-9]*$/">
    </div>
  </div>
  <div class="form-group">
    <label for="label" class="col-sm-3 control-label">Description
      <a class="info" uib-tooltip="A brief description about your Module, which will be visible once published." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <textarea class="form-control" id="description" rows="4" ng-model="module.moduleDescription"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="moduleLabel" class="col-sm-3 control-label">No Sessions
      <a class="info" uib-tooltip="Define the number of Sessions allowed for this Module. Leave empty if you don't want to limit the number of Sessions." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <input type="number" class="form-control" min="0" id="moduleLabel" ng-model="module.moduleMaxSessions">
    </div>
  </div>
  <div class="form-group">
    <label for="label" class="col-sm-3 control-label">Escape
      <a class="info" uib-tooltip="Allow the user to exit the module by pressing the Esc key." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <label>
        <input type="checkbox" ng-model="module.moduleDefinition.allowEscapeKey" ng-true-value="true" ng-false-value="false">
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="label" class="col-sm-3 control-label">Fullscreen
      <a class="info" uib-tooltip="Module will run in fullscreen mode where available." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <label>
        <input type="checkbox" ng-model="module.moduleDefinition.fullscreen" ng-true-value="true" ng-false-value="false">
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="label" class="col-sm-3 control-label">Exporter
      <a class="info" uib-tooltip="Choose all data exporters you want to enable." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <div class="form-group col-sm-12" ng-repeat="exporter in module.moduleDefinition.export | filter: filterValidExporter ">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="exporter.enabled" ng-true-value="true" ng-false-value="false"> <span class="exporterName">{{exporter.mode}}</span> 
            <span ng-switch on="exporter.mode">
              <span ng-switch-when="upload">
                <a class="info" uib-tooltip="Automatic upload of trial data to server. Data can be accessed in Analytics tab. Upload is not possible in the Editor tab." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
              </span>
              <span ng-switch-when="download">
                <a class="info" uib-tooltip="Allows manual download of trial data as a CSV. Currently not supported by Safari browsers." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
              </span>
            </span>
            
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="label" class="col-sm-3 control-label">Delimiter
      <a class="info" uib-tooltip="Choose the CSV delimiter to use for all future data exports." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <label class="radio-inline radio-inline-up">
        <input type="radio" ng-model="module.exportDelimiter" name="exportDelimiter" value=";"> Semicolon
      </label>
      <label class="radio-inline radio-inline-up">
        <input type="radio" ng-model="module.exportDelimiter" name="exportDelimiter" value=","> Comma
      </label>
      <label class="radio-inline radio-inline-up">
        <input type="radio" ng-model="module.exportDelimiter" name="exportDelimiter" value="|"> Pipe
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="label" class="col-sm-3 control-label">Format
      <a class="info" uib-tooltip="Choose the CSV export format to use for all future data exports." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
    </label>
    <div class="col-sm-9">
      <label class="radio-inline radio-inline-up">
        <input type="radio" ng-model="module.exportFormat" name="exportFormat" value="long"> Long
        <span>
          <a class="info" uib-tooltip="Values with the same property name appear in the same column irrespective of executable. This is the default format." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
        </span>
      </label>
      <label class="radio-inline radio-inline-up">
        <input type="radio" ng-model="module.exportFormat" name="exportFormat" value="legacy"> Legacy
        <span>
          <a class="info" uib-tooltip="Every executable property gets its own column." uib-tooltip-placement="right"><i class="fa fa-info-circle"></i></a>
        </span>
      </label>
    </div>
  </div>

</form>

</div>