    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 copyright">
                    <p>&copy; 2014 Tatool</p>
                </div>
                <div class="col-sm-4">
                    <p><a ui-sref="documentation"><i class="fa fa-book"></i> Documentation</a> | 
                    <a ui-sref="about"><i class="fa fa-at"></i> About</a></p>
                </div>
                <div class="pull-right">
                    <a href="http://twitter.com/tatool_ch"><i class="fa fa-twitter-square fa-2x"></i></a>&nbsp;
                    <a href="http://www.facebook.com/tatool.ch"><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp;
                    <a href="http://github.com/tatool/tatool-web"><i class="fa fa-github fa-2x"></i></a>
                </div>
            </div>
        </div>
    </footer>