<div class="wrapper">

<!-- HEADER --> 
<div ng-include src="'../../views/header.html'"></div>

  <!-- INSTALLED -->
  <div class="container">
    <div ng-class="{danger:'alert alert-danger alert-dismissible', success:'alert alert-success alert-dismissible', info:'alert alert-info alert-dismissible'}[alert.type]" role="alert" ng-show="alert.visible">
      <button type="button" class="close" ng-click="hideAlert()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <div ng-bind-html="alert.msg"></div>
    </div>

    <div class="actionHeader">
      <form class="form-inline pull-right" role="form">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" id="searchRepo" ng-model="query" ng-change="setModuleFilter()">
          <span class="form-control-feedback"><i class="fa fa-times" ng-click="removeModuleFilter()"></i></span>
        </div>
      </form>
    </div>

    <accordion>
      <accordion-group is-open="accordionStatus.installed">
        <accordion-heading>
          MY MODULES
          <i class="glyphicon" ng-class="{'glyphicon-chevron-down': accordionStatus.installed, 'glyphicon-chevron-right': !accordionStatus.installed}"></i>
        </accordion-heading>
        <div id="modules">
          <div class="tile" ng-class="{'tileHighlight': module.moduleId == highlightModuleId}" ng-repeat="module in modules | orderBy:'moduleName' | filter:{ moduleName: filterModule }" ng-if="!!modules.length">
            <div class="icon"><i class="fa fa-play-circle fa-4x"></i> <span ng-if="module.maxSessionId">Sessions: <b>{{module.maxSessionId}}</b></span></div>
            <div class="content">
              <h2>{{module.moduleName}}</h2>
              <h3>{{module.moduleAuthor}}</h3>
              <div class="buttonbar">
                <div class="btn btn-tatool" ng-click="startModule(module)"><i class="fa fa-play-circle"></i> Start</div>
                <div id="dropdownExport" class="btn-group" dropdown ng-if="module.moduleDefinition.export && module.moduleDefinition.export.length > 0">
                  <button id="dropdownExportButton" class="btn btn-tatool-off dropdown-toggle" dropdown-toggle>Export <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" id="dropdownExport" >
                    <li class="exporterName" ng-click="doExport($event, module, exporter.mode, exporter.target)" ng-repeat="exporter in module.moduleDefinition.export | filter:filterExporter | orderBy:'mode'">
                      <a ui-sref="home">{{exporter.mode}}</a>
                    </li>
                  </ul>
                </div>
                <a ng-click="deleteModule(module)" class="btn btn-tatool-off"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>

          <div ng-if="modules.length === 0">
            No modules found.
          </div>

        </div>
      </accordion-group>
    </accordion>
  </div>

  <!-- INVITES -->
  <div class="container">
    <accordion>
      <accordion-group is-open="accordionStatus.invites">
        <accordion-heading ng-class="'tatool-panel-heading'">
          INVITES 
          <i class="glyphicon" ng-class="{'glyphicon-chevron-down': accordionStatus.invites, 'glyphicon-chevron-right': !accordionStatus.invites}"></i>
        </accordion-heading>
        <div id="modules">
          <div class="tile" ng-repeat="module in invites | orderBy:'created_at':true | filter:{ moduleName: filterModule }" ng-if="!!invites.length">
            <div class="icon"><i class="fa fa-user fa-4x"></i></div>
            <div class="content">
              <h2>{{module.moduleName}}</h2>
              <h3>{{module.moduleAuthor}}</h3>
              <div class="buttonbar">
                <div class="btn btn-tatool-green" ng-click="replyInvite(module, 'accepted')"><i class="fa fa-thumbs-up"></i> Accept</div>
                <div class="btn btn-tatool" ng-click="replyInvite(module, 'declined')"><i class="fa fa-thumbs-down"></i> Decline</div>
              </div>
            </div>
          </div>
          <div ng-if="invites.length === 0">
            No modules found.
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>

  <!-- PUBLIC -->
  <div class="container">
    <accordion>
      <accordion-group is-open="accordionStatus.public">
        <accordion-heading ng-class="'tatool-panel-heading'">
          PUBLIC 
          <i class="glyphicon" ng-class="{'glyphicon-chevron-down': accordionStatus.public, 'glyphicon-chevron-right': !accordionStatus.public}"></i>
        </accordion-heading>
        <div id="modules">
          <div class="tile" ng-class="{'tileHighlight': module.moduleId == highlightModuleId}" ng-repeat="module in repository | orderBy:'created_at':true | limitTo:quantity | filter:{ moduleName: filterModule }" ng-if="!!repository.length">
            <div class="icon"><i class="fa fa-globe fa-4x"></i></div>
            <div class="content">
              <h2>{{module.moduleName}}</h2>
              <h3>{{module.moduleAuthor}}</h3>
              <div class="buttonbar">
                <div class="btn btn-tatool" ng-click="installModule(module)"><i class="fa fa-download"></i> Install</div>
              </div>
            </div>
          </div>
          <div ng-if="repository.length === 0">
            No modules found.
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>

     <!-- Footer Helper -->
        <div class="push"></div>

    </div>

<!-- FOOTER --> 
  <div ng-include src="'../../views/footer.html'"></div>