RewriteEngine On
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
	
SetEnv JWT_SECRET "secret"

Header always set Access-Control-Allow-Origin "*"                   
Header always set Access-Control-Allow-Methods "GET, OPTIONS" 
Header always set Access-Control-Allow-Headers "Origin, Content-Type, Accept, Authorization, X-Request-With"
Header always set Access-Control-Allow-Credentials "true"