.numberKeepTrack_emptyCell, .numberKeepTrack_emptyCellStatic {
  font-size: 500%;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.numberKeepTrack_red {
  color: #FF0000;
}
.numberKeepTrack_blue {
  color: #3300FF;
}
.numberKeepTrack_green {
  color: #00FF00;
}
.numberKeepTrack_orange {
  color: #FF9900;
}