<div class="wrapper">

<!-- HEADER --> 
<div ng-include src="'../../views/header.html'"></div>

  <!-- MAIN -->
<div id="startContent" class="container">

  <p class="lead">About Tatool</p>
  <hr>
  <h3>Team</h3>
  <p>Tatool is being developed by Andre Locher and Michael Ruflin. led by <a href="http://psych.colorado.edu/~cognitive/co-researchers.html#bastian" target="_blank" class="text_link">Claudia von Bastian</a>  who is currently a Research Associate at the Department of Psychology and Neuroscience at the University of Colorado Boulder</p>
  <h3>History & Scientific Background</h3>
  <p>Tatool was first developed as a <a href="http://www.tatool.ch" target="_blank" class="text_link">Java-based open-source framework</a>. Although several labs picked up on it and used it for their research, but it soon became clear that learning how to program with Java is just too complicated and hence an obstacle for most researchers. The new Tatool is therefore based on JavaScript and HTML 5, technologies that are much easier to learn. It make it even easier, the new Tatool comprises an experiment editor that allows for quick and easy changes to experiment (e.g., using other stimuli or changing the order of events) without writing a single line of code! And best of all: it's all open-source and available for free! <br><br> 
  The development of Tatool is closely coupled wih scientific projects investigating training and transfer effects of cognitive abilities. Tatool was therefore conceptualized according to the requirements for conducting psychological experiments. </p>
  
  <h3>Community</h3>
  <p>Create an account in the Tatool <a href="http://www.tatool.ch/forum/index.php" target="_blank" class="text_link">Forum</a> to discuss Tatool and programming with Tatool, and to get help from the community.</p>

  <h3>Doing Research & Publications</h3>
  <p>Tatool was developed to support the scientific community and to ease the conduction of computer-based experiments and training studies.<br><br>
	Please cite the following paper when you report data that was collected using Tatool:<br>
	<a href="http://www.springerlink.com/openurl.asp?genre=article&id=doi:10.3758/s13428-012-0224-y" target="_blank" class="ext_link">von Bastian, C. C., Locher, A., & Ruflin, M. (2013). Tatool: A Java-Based Open-Source Programming Framework for Psychological Studies. <i>Behavior Research Methods, 45</i>(1), 108-115. doi: 10.3758/s13428-012-0224-y</a><br><br>

	Below we list published studies using Tatool. Let us know if you are aware of other published papers or works such as theses that used Tatool.<br>
	<ul>
	<li>Herkert, J. (2011). Trainings- und Transfereffekte des Arbeitsged&auml;chtnisses [Training and Transfer Effects of Working Memory]. Master thesis, University of Zurich, Zurich, Switzerland.
	<li><a href="http://www.sciencedirect.com/science/article/pii/S0010945213000117" target="_blank" class="ext_link">Langer, N., von Bastian, C. C., Wirz, H., Oberauer, K., & J&auml;ncke, L. (2013). The effects of working memory training on functional brain network efficiency. <i>Cortex, 49</i>(9), 2424-2438. doi: 10.1016/j.cortex.2013.01.008</a>
	<li><a href="http://link.springer.com/article/10.3758%2Fs13421-012-0280-7" target="_blank" class="ext_link">von Bastian, C. C., Langer, N., J&auml;ncke, L., & Oberauer, K. (2013). Effects of working memory training in young and old adults. <i>Memory & Cognition, 41</i>(4), 611-624. doi: 10.3758/s13421-012-0280-7</a>
	<li>von Bastian, C. C. (2012). <i>Working Memory Training and Transfer Effects</i>. Doctoral thesis, University of Zurich, Zurich, Switzerland.   
	<li><a href="http://www.sciencedirect.com/science/article/pii/S0749596X13000120" target="_blank" class="ext_link">von Bastian, C. C. & Oberauer, K. (2013). Distinct transfer effects of training different facets of working memory capacity. <i>Journal of Memory and Language, 69</i>, 36-58. doi: 10.1016/j.jml.2013.02.002</a>
	</ul></p>
  
  <h3>Support Tatool</h3>
  <p>PayPal</p>

</div>

<br><br>

<!-- Footer Helper -->
<div class="push"></div>
</div>

<!-- FOOTER --> 
<div ng-include src="'../../views/footer.html'"></div>