<div class="wrapper">

<!-- HEADER --> 
<div ng-include src="'../../views/header.html'"></div>

  <!-- MAIN -->
<div id="startDocument" class="container">

  <p class="lead">Documentation</p>
  <hr>

  <div id="docNavigation">
  <ul>
    <li><a ui-sref="documentation" ng-click="goPage('test.html')">Getting Started</a></li>
    <li><a ui-sref="documentation" ng-click="goPage('test.html')">Advanced</a></li>
    <li><a ui-sref="documentation" ng-click="goPage('test.html')">Directives</a></li>
    <ul class="subNav">
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('directive-tatoolStimulus.html')">Tatool Stimulus</a></li>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('directive-tatoolInput.html')">Tatool Input</a></li>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('directive-tatoolGrid.html')">Tatool Grid</a></li>
    </ul>
    <li><a href="">Random Stuff Here</a></li>
  </ul>
  </div>

  <div id="docContent">
    <div ng-include="docPage" onload="highlightCode()"></div>
  </div>

</div>


<br><br>

<!-- Footer Helper -->
<div class="push"></div>
</div>

<!-- FOOTER --> 
<div ng-include src="'../../views/footer.html'"></div>
