<div class="wrapper">

<!-- HEADER --> 
<div ng-include src="'../../views/header.html'"></div>

  <!-- MAIN -->
<div id="startDocument" class="container">

  <p class="lead">Documentation</p>
  <hr>

  <div id="docNavigation">
  <ul>
  <li><a ui-sref="documentation" ng-click="goPage('main-about.html')"><b>Start</b></a></li>
    <ul class="subNav">
	<li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-glossary.html')">Glossary</a></li>
	 <br>
    </ul>
    <li><a ui-sref="documentation" ng-click="goPage('main-about.html')"><b>About</b></a></li>
    <ul class="subNav">
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('main-cite.html')">How to cite</a></li>
	  <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('main-publications.html')">Publications</a></li>
	  <br>
    </ul>
	<li><a ui-sref="documentation" ng-click="goPage('general-start.html')"><b>Community</b></a></li>
	  <ul class="subNav">
		<li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-advanced-executable.html')">Forum</a></li>
        <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-first-executable.html')">Contribute</a></li>
      </ul>
	  <br>

    <li><a ui-sref="documentation" ng-click="goPage('modules-start.html')"><b>Modules</b></a></li>
    <ul class="subNav">
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('modules-run.html')">Run</a></li>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('modules-create.html')">Create &amp; Edit</a></li>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('modules-publish.html')">Publish</a></li>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('modules-export.html')">Export Data</a></li>
    </ul>
    <br>
    <li><a ui-sref="documentation" ng-click="goPage('lib-start.html')"><b>Task Library</b></a></li>
    <ul class="subNav">
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('lib-stroop.html')">Stroop</a></li>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('lib-cs.html')">Complex Span</a></li>
    </ul>
    <br>
    <li><a ui-sref="documentation" ng-click="goPage('dev-start.html')"><b>Development</b></a></li>
    <ul class="subNav">
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-basics.html')">Basics</a></li>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-getting-started.html')">Getting Started</a></li>  
	  <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-glossary.html')">Administration</a></li>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-executable.html')">Executable</a></li>
	  <ul class="subNav">
        <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-first-executable.html')">A First Executable</a></li>
		<li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-advanced-executable.html')">Advanced Executable</a></li>
      </ul>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-module.html')">Module</a></li>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-service.html')">Services</a></li>
      <ul class="subNav">
        <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-service-tatoolExecutable.html')">Tatool Executable</a></li>
        <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-service-timerService.html')">Timer Service</a></li>
      </ul>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-directive.html')">Directives</a></li>
      <ul class="subNav">
        <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-directive-tatoolStimulus.html')">Tatool Stimulus</a></li>
        <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-directive-tatoolInput.html')">Tatool Input</a></li>
        <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-directive-tatoolGrid.html')">Tatool Grid</a></li>
      </ul>
      <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-handler.html')">Handlers</a></li>
      <ul class="subNav">
        <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-directive-tatoolStimulus.html')">TrialCountHandler</a></li>
        <li><i class="fa fa-angle-right"></i> <a ui-sref="documentation" ng-click="goPage('dev-directive-tatoolInput.html')">LevelHandler</a></li>
      </ul>
    </ul>
  </ul>
  </div>

  

  <div id="docContent">
    <div ng-include="docPage" onload="highlightCode()"></div>
  </div>

</div>


<br><br>

<!-- Footer Helper -->
<div class="push"></div>
</div>

<!-- FOOTER --> 
<div ng-include src="'../../views/footer.html'"></div>
