<div class="col-sm-6">
  <br><br>
  <span class="jumbo">Analyse</span>
  <br><br>
  <p>Tatool provides you with the information you need to closely monitor data collection. Participants' data can be automatically anonymised, allowing for double-blind study designs. Quickly gain an overview about when which sessions were completed and access the data immediately. Conveniently download the data in form of zipped CSV files ready to be analysed with any statistics tool.</p>
    <p class="pull-right">
      <button type="button" class="btn btn-default" ng-click="prevSlide()"><i class="fa fa-arrow-left"></i></button>
    </p>
</div>
<div class="col-sm-6">
  <img src="../images/tatool-screen-analyse.png" class="img-screen img-responsive">
</div>