<div class="col-sm-6">
  <br><br>
  <span class="jumbo">1. Develop</span>
  <br><br><br>
  <p>
    The Experiment Editor allows you to create an experiment quickly and easily without writing a single line of code. Develop new tasks easily in JavaScript and embed them in your experiments. There's no limit as you still get the full flexibility of tatool when </p>
    <p class="pull-right">
      <button type="button" class="btn btn-default" ng-click="nextSlide()"><i class="fa fa-arrow-right"></i></button>
    </p>
</div>
<div class="col-sm-6">
  <img src="../../images/tatool-screen-develop.png" class="img-screen img-responsive">
</div>