<div class="col-sm-6">
  <br><br>
  <span class="jumbo">Develop</span>
  <br><br>
  <p>Tatool provides options for running experiments both for programming novices and old hands. With the Experiment Editor, you can create an experiment quickly and easily without writing a single line of code. Or, you can dive deeper and develop completely new tasks in JavaScript. There's no limit, as Tatool is open-source and hence offers the full range of flexibility!
  </p>
    <p class="pull-right">
      <button type="button" class="btn btn-default" ng-click="nextSlide()"><i class="fa fa-arrow-right"></i></button>
    </p>
</div>
<div class="col-sm-6">
  <img src="../images/tatool-screen-develop.png" class="img-screen img-responsive">
</div>