<div class="col-sm-6">
  <br><br>
  <span class="jumbo">Distribute</span>
  <br><br>
  <p>Distribute your experiment with a click of a button! You can choose your experiment to be public, allowing any registered user to participate, or to keep it private and provide access to a specified sample only. There's no need for participants to install any new software. Instead, they simply add your experiment to their individual module library, hassle-free! 
     </p>
    <p class="pull-right">
      <button type="button" class="btn btn-default" ng-click="prevSlide()"><i class="fa fa-arrow-left"></i></button>
      <button type="button" class="btn btn-default" ng-click="nextSlide()"><i class="fa fa-arrow-right"></i></button>
    </p>
</div>
<div class="col-sm-6">
  <img src="../images/tatool-screen-publish.png" class="img-screen img-responsive">
</div>