<div class="col-sm-6">
  <br><br>
  <span class="jumbo">Collect Data</span>
  <br><br>
  <p>
    Tatool runs in all modern browsers, making data collection online and offline as easy and accessible as possible. The web technologies Tatool is based on support text, image, audio, and video stimulus presentation. On top of traditional response recording, you can also use innovative and intuitive response modes such as drag-and-drop or the iPad's touch screen.</p>
    <p class="pull-right">
      <button type="button" class="btn btn-default" ng-click="prevSlide()"><i class="fa fa-arrow-left"></i></button>
      <button type="button" class="btn btn-default" ng-click="nextSlide()"><i class="fa fa-arrow-right"></i></button>
    </p>
</div>
<div class="col-sm-6">
  <img src="../images/tatool-screen-collect.png" class="img-screen img-responsive">
</div>