<div class="wrapper">

  <!-- HEADER --> 
  <div ng-include="'header.html'"></div>

  <!-- MAIN -->
  <div id="startBanner">
    <div class="bannerContent">
      <img src="../images/icon-big.png" class="bannerImg"><br><br><br>
      <h2 class="center">
      open-source experiment software for researchers</h3><br>
    </div>
  </div>

  <div ng-switch on="getMode()">

    <div ng-switch-when="lab">
      <div id="startContent" ng-cloak>
        <div class="container">
          <p class="lead center">Running computer-based experiments just got a whole lot easier with Tatool.</p>
          <br>
          <hr>
          <div class="socialButtons">
            <a href="http://twitter.com/tatool_ch" target="_blank"><img src="../images/twitter.png"></a>&nbsp;&nbsp;
            <a href="http://www.facebook.com/tatool.ch" target="_blank"><img src="../images/facebook.png"></a>
          </div>
          <hr>
        </div>
      </div>
    </div>

    <div ng-switch-default>
      <div id="startContent" ng-cloak>
        <div class="container">
          <p class="lead center">Running computer-based experiments just got a whole lot easier with Tatool.</p>

          <hr>
          <center>
            <div class="socialButtons">
              <a href="http://twitter.com/tatool_ch" target="_blank"><img src="../images/twitter.png"></a>&nbsp;&nbsp;
              <a href="http://www.facebook.com/tatool.ch" target="_blank"><img src="../images/facebook.png"></a>
            </div><br>
            <a class="twitter-timeline" data-width="550" data-height="200" data-theme="light" data-link-color="#c44a27" href="https://twitter.com/tatool_ch?ref_src=twsrc%5Etfw" data-chrome="nofooter noheader">Tweets by tatool_ch</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <p><a ui-sref="register" class="bold"><i class="fa fa-pencil-square-o"></i> Sign up for a developer account</a></p>
        </center>
          <br clear="both">
          <hr>
          <br>
          <div class="row">
            <div class="col-sm-4">
              <img src="../images/html-css-js-badges.png" class="img-responsive img-main">
              <h3>Flexible Standards</h3>
              <p>The new Tatool is based on the widely-used and well-known web technology standards HTML5, CSS, JavaScript and node.js. This makes it easy to create your own experiments even with only little prior programming knowledge.</p>
            </div>
            <div class="col-sm-4">
              <img src="../images/research.png" class="img-responsive img-main">
              <h3>Built for researchers</h3>
              <p>We focused on the functionality that you need to get your research done. The new Tatool assists you throughout the process: Go from programming and configuring your experiments to collecting data and analysing it, in no time.</p>
            </div>
            <div class="col-sm-4">
              <img src="../images/globe-browser.png" class="img-responsive img-main">
              <h3>Reach everyone, everywhere</h3>
              <p>Thanks to Tatool's web technologies you can test participants from all around the world by telling them to just start up their favourite web browser. You prefer collecting data offline? No problem, Tatool runs also in offline lab-mode.</p>
            </div>
          </div>
        </div>
        <br><br><br>
        <div class="redBanner">
          <div class="container">
            <br>
            <h3 class="white center">Cover the life cycle of your experiment</h3>
            <br><br>
            <div class="row">
              <div class="col-sm-1">
                <br><br><br>
                <a href ng-click="prevSlide()"><img src="../images/caret-left.png" class="caret-left"></a>
              </div>
              <div class="col-sm-10 slide" ng-include="slide"></div>
              <div class="col-sm-1">
                <br><br><br>
                <a href ng-click="nextSlide()"><img src="../images/caret-right.png" class="caret-right"></a>
              </div>
            </div>
            <br><br><br><br>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <!-- Footer Helper -->
  <div class="push"></div>

</div>

<!-- FOOTER --> 
<div ng-include src="'footer.html'"></div>